{% extends 'article_base.html' %} {% load crispy_forms_tags %}
<main>
  {% block article_content %}

  <section class="mt-5 description__section">
    <h1 class="text-light article__heading">{{ article_detail.title }}</h1>
    <div
      class="d-flex align-items-center justify-content-around justify-content-sm-between mt-4 text-white"
    >
      <p>By: {{ article_detail.author }}</p>
      <p>Updated: {{ article_detail.date_created.date|date:" D d M Y" }}</p>
    </div>
    <hr />
    <div>
      {% autoescape on %}
      <p class="mt-5 description-text">{{ article_detail.text|safe|escape }}</p>
      {% endautoescape %}
    </div>
  </section>

  <hr />
  <section>
    <h4>Comments</h4>
    {% if not article_detail.comments.all %}
    <p>No comment yet</p>
    {% else %} {% for comment in article_detail.comments.all %}
    <strong>
      {{ comment.name|title }}
      <i>{{ comment.created }}</i>
    </strong>
    <p>{{ comment.body|linebreaks }}</p>
    {% endfor %} {% endif %}
  </section>
  {% endblock %}
</main>
