{% extends 'article_base.html' %} {% block article_content %}
<div class="container d-flex justify-content-center flex-column my-5">
  <h1 class="text-center text-light about-heading">About Me</h1>
  <p class="text-center about-text">
    My name is Hussein Mubarak. I'm a software developer from Lagos, Nigeria.
    Solving people's problems with my programming skills and critical thinking
    has always been what I withold and building stuff that makes people live
    easier, is what i love doing the most...
  </p>
</div>
{% endblock %}
